<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailSenderAddress>toshi_hamano@densan-s.co.jp</emailSenderAddress>
    <emailSenderName>test1</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>false</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <networkMemberGroups>
        <profile>Admin</profile>
        <profile>HighVolumePortal</profile>
        <profile>Customer Portal Manager Standard</profile>
        <profile>Customer Portal Manager Custom</profile>
        <profile>Gold Partner User</profile>
        <profile>Silver Partner User</profile>
        <profile>Partner Community User</profile>
        <profile>Partner Community Login User</profile>
        <profile>Customer Community Login User</profile>
        <profile>カスタムパートナー</profile>
        <profile>パートナーユーザ</profile>
        <profile>PlatformPortal</profile>
        <profile>Customer Community User</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Standard</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>C</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Site</site>
    <status>DownForMaintenance</status>
    <tabs>
        <customTab>ajax__AJAXTools</customTab>
        <customTab>sf4twitter__Fcbk_Page__c</customTab>
        <customTab>sf4twitter__Fcbk_User__c</customTab>
        <customTab>Start_Here</customTab>
        <customTab>sf4twitter__Twitter_Account__c</customTab>
        <customTab>sf4twitter__Twitter_Search__c</customTab>
        <customTab>javascriptTest</customTab>
        <customTab>NotifierObject__c</customTab>
        <customTab>InvoiceStatement__c</customTab>
        <customTab>sf4twitter__Social_Agent</customTab>
        <customTab>sf4twitter__Salesforce_for_Twitter</customTab>
        <customTab>sf4twitter__Social_Setup</customTab>
        <customTab>Timecard__c</customTab>
        <customTab>AboutSFDCJTimecard</customTab>
        <customTab>Task2__c</customTab>
        <customTab>TestProjectMst__c</customTab>
        <customTab>SetupCheckTab</customTab>
        <customTab>documentTest</customTab>
        <customTab>CustomObject12__c</customTab>
        <customTab>TestProjectTab</customTab>
        <customTab>TestRegistProjectTab</customTab>
        <customTab>VisualForceTest</customTab>
        <customTab>pjmng__c</customTab>
        <customTab>sendMailTab</customTab>
        <customTab>usermng__c</customTab>
        <customTab>sf4twitter__Twitter_Conversation__c</customTab>
        <customTab>schedule__c</customTab>
        <customTab>Tab</customTab>
        <customTab>Merchandise__c</customTab>
        <customTab>sfdcjoppupdate</customTab>
        <customTab>whatissfdcjoppupdate</customTab>
        <customTab>RocationDemoTab</customTab>
        <customTab>uriage__c</customTab>
        <customTab>OutputInvoice4SupplierTab</customTab>
        <customTab>keijiban__c</customTab>
        <customTab>TestSearchProjectTab</customTab>
        <customTab>CustomObject11__c</customTab>
        <customTab>gaichu__c</customTab>
        <customTab>keihi_siire__c</customTab>
        <customTab>TabChgTab</customTab>
        <customTab>kadaimng__c</customTab>
        <customTab>seikyuu__c</customTab>
        <customTab>OutputInvoiceTab</customTab>
        <customTab>ClientBaseInfo__c</customTab>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>Chatter</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>Case</standardTab>
        <standardTab>JigsawSearch</standardTab>
        <standardTab>Sites</standardTab>
        <standardTab>Idea</standardTab>
        <standardTab>AppLauncher</standardTab>
        <standardTab>Campaign</standardTab>
        <standardTab>CollaborationGroup</standardTab>
        <standardTab>Console</standardTab>
        <standardTab>Solution</standardTab>
        <standardTab>Dashboard</standardTab>
        <standardTab>File</standardTab>
        <standardTab>UserProfile</standardTab>
        <standardTab>ProfilePlatformOverview</standardTab>
        <standardTab>ProfilePlatformFeed</standardTab>
        <standardTab>Lead</standardTab>
        <standardTab>report</standardTab>
        <standardTab>OtherUserProfile</standardTab>
        <standardTab>Pricebook2</standardTab>
        <standardTab>Contact</standardTab>
        <standardTab>Product2</standardTab>
        <standardTab>Opportunity</standardTab>
        <standardTab>Contract</standardTab>
        <standardTab>PartnerNetworkConnection</standardTab>
    </tabs>
    <urlPathPrefix>dsktest1</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
